*{
    font-family: sans-serif;
}
body{
    background-image: url(../img/fondo.jpg);
}
/* contenedor main */
main{
    background-image: url(../img/fondo_pelis.png);
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Contenedor de todas las peliculas */
section{
    background-color: white;
    display: flex;
    margin: 3px;
    margin-left: 50px;
    margin-right: 40px;
}
/* Titulo */
.titulo{
    background-image: url(../img/fondo_titulo.png);
    background-color: #083256;
    background-size: 1000px;
    background-position-y: 1000px;
    align-items: center;
    height: 50px;
    color: white;
    font-style: italic;
    padding-left: 15px;
}

/* Texto de las películas */
section > div{
    margin-left: 20px;
}
a{
    font-size: 20px;
}
p{
    color:#083256;
    margin-bottom: 50px;
}

/* Titulo de las peliculas */
h3{
    margin-top: 15px;
    color:#083256;
}

/* Imágen de las peliculas */
article > img{
    width: 130px;
    padding: 15px;
}