*{
    font-family: sans-serif;
}
body{
    background-image: url(../img/fondo.jpg);
}
/* contenedor main */
main{
    background-image: url(../img/fondo_pelis.png);
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}
.link{
    margin: auto;
    text-align: center;
    background-color: #083256;
    width: 94%;
}
.link > a{
    text-decoration: none;
    color: white;
}
/* Contenedor titulo */
section{
    background-color: white;
    display: flex;
    margin: 3px;
    margin-left: 40px;
    margin-right: 40px;
}
.titulo{
    background-image: url(../img/fondo_titulo.png);
    background-color: #083256;
    background-size: 1000px;
    background-position-y: 1000px;
    align-items: center;
    height: 50px;
    color: white;
    font-style: italic;
    padding-left: 15px;
}
/* Contenedor película */
.pelicula{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    border-radius: 10px;
}
/* Textos */
.desc{
    color: black;
}
p{
    color: #083256;
}
nav > a{
    color: #083256;
    text-decoration: none;
}

/* Imagen de la pelicula */
article > img{
    width: 200px;
    padding: 15px;
}
/* Lista de datos */
dl {
    margin-bottom:30px;
}
 
dl dt {
    color: black;
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:100px; 
}
 
dl dd {
    margin:2px 0; 
    padding:5px 0;
}

/* bloque amarillo */
.WO{
    background-color: rgb(252, 252, 161);
    border: solid 2px rgb(247, 247, 76);
    text-align: center;
    margin-left: 15px;
    width: 198px;
}