/* body */
body{
    background-color: rgb(77, 77, 77);
}

/* main */
.section1{
    margin: auto;
    background-color: rgb(175, 175, 175);
    border-radius: 15px;
    width: 1080px;
    height: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    overflow: hidden;
}

/* Contenedor de la imagen */
.fondo img{
    height: 393px;
    transform: skewY(-3deg);
    transform-origin: 0 0;
}

/* imagen de fondo */
.fondo{
    border-radius: 15px;
}

/* Titulos imagen */
.fondo > article{
    position: absolute;
    margin-left: 300px;
    top: 250px;
    color: white;
}
h1{
    margin-bottom: 0px;
}
.subtitulo{
    font-size:x-large;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: rgba(255, 255, 255, 0.541);
}
/* likes */
span::before{
    margin-left: 20px;
    content: "\2764";
    color: red;
}

/* aside imagen */
aside{
    position: absolute;
    top: 250px;
    margin-left: 40px;
}
aside > img{
    width: 200px;
    box-shadow: 6px 2px 10px 2px  gray ;

}
/* categorias */
.categorias{
    position: absolute;
    margin-left: 70px;
    top: 570px;
}
.categorias > button:last-child{
    display: block;
    margin-left: 25px;
    margin-top: 3px;
}
button{
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: grey;
    transition: 0.3s;
}
button:active{
    background-color: rgb(88, 87, 87);
    transition: 0s;
}
/* sinopsis */
p{
    display: flex;
    margin-left: 300px;
    flex-wrap: wrap;
    color: rgb(87, 86, 86);
    line-height: 30px;
}
/* logos */
.Lcont{
    display: flex;
    margin-left: 300px;
}
.logos{
    width: 50px;
    border-radius: 30px;
    margin: 10px;
}
.logos:hover{
    box-shadow: 0px 0px 5px 2px  black ;
    transform: scale(1.1);
}